<div class="container mt-4">
    <div class="card">
        <h1>Ajouter Service</h1>
        <form>
            <div class="form-group">
                <label>Nom</label>
                <input type="text" [(ngModel)]="nom" [ngModelOptions]="{standalone: true}" class="form-control"
                    id="nom">
            </div>

            <div class="form-group">
                <label>Prix</label>
                <input type="number" class="form-control" [(ngModel)]="prix" [ngModelOptions]="{standalone: true}"
                    id="prix">
            </div>

            <div class="form-group">
                <label>Durée</label>
                <input type="number" class="form-control" [(ngModel)]="duree" [ngModelOptions]="{standalone: true}"
                    id="duree">
            </div>

            <div class="form-group">
                <label>Commission</label>
                <input type="number" class="form-control" [(ngModel)]="commission" [ngModelOptions]="{standalone: true}"
                    id="commission">
            </div>

            <button type="submit" (click)="createService()" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<div class="container mt-4">
    <h1>Liste Service</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Prix</th>
                <th scope="col">Durée</th>
                <th scope="col">Commission</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let service of services">
                <td>{{service.nom}}</td>
                <td>{{service.prix }} Ar</td>
                <td>{{service.duree }} min</td>
                <td>{{service.commission * 100 }} %</td>
                <td>
                    <button type="button" class="btn btn-success" (click)="setUpdateService(service)">Edit</button>
                    <button type="button" class="btn btn-danger" (click)="deleteService(service)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>

</div>