<div>
  <h2>Ajouter un nouvel employé</h2>
  <form (ngSubmit)="ajouterEmploye()">
    <div>
      <label for="nom">Nom :</label>
      <input type="text" id="nom" name="nom" [(ngModel)]="nom" required>
    </div>
    <div>
      <label for="prenom">Prénom :</label>
      <input type="text" id="prenom" name="prenom" [(ngModel)]="prenom" required>
    </div>
    <div>
      <label for="email">Email :</label>
      <input type="email" id="email" name="email" [(ngModel)]="email" required>
    </div>
    <div>
      <label for="motDePasse">Mot de passe :</label>
      <input type="password" id="motDePasse" name="motDePasse" [(ngModel)]="motDePasse" required>
    </div>
    <!-- Vous pouvez ajouter d'autres champs ici selon vos besoins -->
    <button type="submit">Ajouter Employé</button>
  </form>
</div>

<div>
<!-- employe.component.html -->

<div>
  <h2>Liste des employés</h2>
  <ul>
    <li *ngFor="let employe of listeEmploye">
      {{ employe.nom }} {{ employe.prenom }} - {{ employe.email }}
    </li>
  </ul>
</div>

</div>
